<template>
<div>
    <div class="bg-white drop-shadow-lg m-16 p-16">
        <h1 class="text-3xl font-bold">SKU Label Changer For WooCommerce</h1>
        <p class="text-gray-600 mt-4">Version: 3.0</p>
        <div class="mt-8 mb-8 w-2/5">
          <label for="skutext" class="text-sm font-medium">WooCommerce SKU Label (Example: ISBN)</label><br>
          <input type="text" id="skutext" name="skutext" v-model="skutext" class="mt-4 block w-5/6 h-10 rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><br>
          <vs-button color="#7f54b3" square @click="save_settings()">Save Settings</vs-button>
        </div>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import Vuesax from 'vuesax';
import 'vuesax/dist/vuesax.css';
import axios from 'axios';

Vue.use(Vuesax, {
    // options here
  });


export default {
  name: 'App',
  data() {
    return {
      skutext: api_settings.skutext
    }
  },
    methods: {
        save_settings() {
          const url = api_settings.root + 'wcsku/v1/update';

          axios.post(url, {
            skutext: this.skutext,
        })
        .then(response => {
          const noti = this.$vs.notification({
            square: true,
            progress: 'auto',
            color: '#7f54b3',
            position: 'bottom-center',
            title: 'Settings Saved',
            text: 'Please access your WooCommerce admin or Webiste to see the changes.',
          })
        })
        .catch(function (error) {
          console.log(error);
        });

        }
    },
    computed: {
        
    },
    mounted: {
        
    }
}
</script>